.containerInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.formInput {
  border-radius: 10px;
}

.buttonForm {
  display: block;
  padding: 5px 15px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 5px;
  font-weight: 700;
  color: black;
  cursor: pointer;
}