.button {
    background-color: transparent;
    border: 1px solid wheat;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    margin: auto;
}

.button:hover {
    background-color: #000;
    color: #fff;
}